##                                Importing the Dependies

<img src= "CardiacPictureTeam1Pycharmers.jpg" width=500, height=500>

## Data Collection and Processing

## Question1 How many patients were registered in each unique occupation?

## Question2 Divide GCS scores into slabs of 5 and count the number of patients under each band of score. Show this as any graph of your choice

## Question3  Add a calculated column called Discharge date into the Hospitalization_Discharge using the information already available to you

## Question4 What percentage of patients had Biventricular heart failure?

## Question5 What is the ratio of patients who were responsive to pain vs responsive to sound?

## Question6 What was the average age group of the patients that had an outcome of 'Alive'?

## Question7 Visualize missing data and missing patterns from Demography table using the "MissingNo" Library.

## Question8 Create a Waffle chart to show what percentage of total deaths belong to each admission_ward?

## Question9 Create any 2 2-D arrays and perform matrix multiplication. Display the resulting array.

## Question10  Display the percentage of missing values in each column in the table labs. Show the distribution as a bar graph

## Question11  A valid mobile number is a ten digit number starting with a 7,8 or 9. For every string listed, print "YES" if it is a valid
## mobile number and "NO" if it is not on separate lines. Do not print the quotes. {2,9587456281,1252478965,7397260044}

## Question12 If left ventricular end diastolic diameter has a normal range: 3.5 - 5.6 cm, how many patients fall outside that limit and what 
##is the MAP of most patients with this condition?

## Question13 Create a bar chart between lengthofstay and body temperature, classified as: Hypothermia, within range or hyperthermia

## Question14 Find the list of patients whose DischargeDay is greater than the value given by the user

## Question15 Display a pie chart of number of patients in each category listed
## -death_within_28_days,-re_admission_within_28_days,-death_within_3_months ,
## -re_admission_within_3_months,-death_within_6_months,-re_admission_within_6_months,
## -return_to_emergency_department_within_6_months

## Question16 Create a pivot table with myocardial_infarction, congestive_heart_failure,peripheral_vascular_disease as rows and average Uric Acid
## and BMI as columns, using melt functions

## Question17 Using arrays and loops find the number of patients who were Admitted in the month of November

## Question18 Create a heatmap on any columns of your choice including at least 1 lab value

## Question19 Create a bar chart by making list on Avg BMI and occupation column (with no duplicates) & make the hatchs onto the bar by 
## using set_hatch() method

## Question20 You are given three integers x,y,z representing the dimensions of a cuboid along with an integer n . 
## Print a list of all possible coordinates given by(i,j,k) on a 3D grid where the sum of i,j,k is not equal to n. 
## x=1, y=1, z=2, n-3

## Question21 Given the names and grades for each student in a class of students, store them in a nested list and print the name(s) of
## any student(s) having the second lowest grade.
## python_students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

## Question22 Which patient was on the most number of prescribed drugs? What was his age and outcome?

## Question23 How many patients were prescribed Digoxin?

## Question24 What columns indicate a prescence of anemia? Create a severity score for anemia and prove or disprove a correlation to Length of stay

## Question25 Using GCS score, how many patients are considered to be in a coma?

## Question26  Create a column that randomly generates an age between the age group given for each patient. What was the average age of the patients?

## Question27 Using the age column generated in Q.26, calculate year of birth for each patient

## Question28 Store patient number and gender in a dictionary as a pair of values. Show the first 10 values

## Question29 What percentage of those in a coma also have diabetes?

## Question30 Identify any columns relating to echocardiography and create a severity score for cardiac function. 
## Compare this outcome and show average severity score for each outcome

## Question31 Group the days to re-admission into bins and count how many patients were in each bin

## Question32Combine admission_ward & admission_way and count the patients under the new group. Create a pie chart and explode the biggest wedge

## Question33 Retrieve the row with minimum white_blood_cell count using sorting technique.

## Question34 get the last letter of discharge_department of patients using RegEX

## Question35 find the way to reverse string for given input (eg: input : This hackathon is about cardiac outcomes: outcomes cardiac about is
## hackathon This)

## Question36 Use the QB style library to create any multidimensional arrays.Create a figure object called fig using plt.figure() **
## ** Use add_axes to add an axis to the figure canvas at [0,0,1,1]. Call this new axis ax. **
## ** Plot (x,y) on that axes and set the labels.

## Question37 Using dischargeDay values print even if it even number and odd if it odd number

## Question38 find the length of Tuple for any given input (Hint: Input a string from user )

## Question39 Create a subplot on x = np.arange(0, 10, 0.1) , y = np.sin(np.pi * x) + x with 2 rows & 2 columns with object oriented approach

## Question40 Select 25 different random values between 200 to 800.

## Question41 Plot the time series of Admission dates with count of patients. The X-Axis should be for every 5 months

## Question42 np.arange(1,21).reshape(4,5), find array slicing to get the elements 1,2,8,19. 
## When the value is less than 9, print as 0,else print 1

## Question43 Give Distribution chart of max Killip_grade

## Question44 Based on Q26 and 27 display all demographic details of patients who are born in year 1945

## Question45 Create a dataframe with date and time as columns, where the values are the admission time

## Question46 Convert occupation into numeric by Label encoding

## Question47 Generate a 3x3 Array using Random values between 1to 9 and Fix the values and position in Next Run.

## Question48 Using loops, create a multiplication table for the number 7

## Question49 Connect to sql and write a query to find all patients who have a gender of 'Male' ( Attach screenshots for this question)