In [59]:
import pandas as pnd
import numpy as nmp
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
df_hospdischarge=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Hospitalization_Discharge')

In [30]:
df_Cardiaccomplications=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='CardiacComplications')

In [31]:
df_responsiveness=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Responsivenes')

In [32]:
df_patienthistory=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='PatientHistory')

In [27]:
df_Labs=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Labs')

In [33]:
df_Demography=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Demography')

In [34]:
df_Patientpriscriptions=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Patient_Precriptions')

In [55]:
df_hospdischarge

,inpatient_number,DestinationDischarge,admission_ward,admission_way,discharge_department,visit_times,respiratory_support,oxygen_inhalation,dischargeDay,Admission_date,...,death_within_28_days,re_admission_within_28_days,death_within_3_months,re_admission_within_3_months,death_within_6_months,re_admission_within_6_months,time_of_death__days_from_admission,readmission_time_days_from_admission,return_to_emergency_department_within_6_months,time_to_emergency_department_within_6_months
0,857781,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,11,2017-01-24,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
1,743087,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,8,2017-05-05,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2,866418,Home,Cardiology,NonEmergency,Cardiology,2,NaN,OxygenTherapy,5,2016-11-18,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
3,775928,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,11,2017-10-02,...,0,1,0,1,0,1,NaN,19.0,1.0,19.0
4,810128,Home,Cardiology,NonEmergency,Cardiology,1,NaN,OxygenTherapy,5,2019-11-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2003,740689,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,5,2016-02-07,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2004,734280,HealthcareFacility,GeneralWard,Emergency,GeneralWard,1,NaN,OxygenTherapy,8,2017-03-29,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN
2005,781004,HealthcareFacility,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,14,2018-01-22,...,0,0,0,1,0,1,NaN,76.0,1.0,76.0
2006,744870,Unknown,Cardiology,NonEmergency,Cardiology,1,IMV,OxygenTherapy,1,2019-11-27,...,1,0,1,0,1,0,1.0,NaN,0.0,NaN
2007,791864,Home,Cardiology,Emergency,Cardiology,1,NaN,OxygenTherapy,6,2017-02-17,...,0,0,0,0,0,0,NaN,NaN,0.0,NaN

In [40]:
import seaborn as sns  
from matplotlib import pyplot as plt  
Labs=sns.load_dataset('Labs') 
Labs.head()  
  
  
sns.jointplot(x='diastolic_blood_pressure',y='body_temperature',data=Labs)  
plt.show()

ValueError: 'Labs' is not one of the example datasets.

In [ ]:
 # Q 57 Create a pivot table show shows outcome type as rows, the admission_ward as columns 
 # and counts of patients in each category as values

In [58]:
df_hospdischarge=pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Hospitalization_Discharge')
pivot1 = pd.pivot_table(df, index = "DestinationDischarge")

TypeError: agg function failed [how->mean,dtype->object]

In [60]:
# Q 59 Using Sunburst chart display patients Age group, occupation and BMI Group
df = df_Demography
df.head()

   inpatient_number  gender  weight  height        BMI     occupation ageCat
0            857781    Male    50.0    1.64  18.590125  UrbanResident  69-79
1            743087  Female    51.0    1.63  19.195303  UrbanResident  69-79
2            866418    Male    70.0    1.70  24.221453         farmer  59-69
3            775928    Male    65.0    1.70  22.491349  UrbanResident  69-79
4            810128  Female    76.0    1.55  31.633715  UrbanResident  69-79

In [62]:
import plotly.express as px
import pandas as pd

In [66]:
fig=px.sunburst(df,path=['ageCat' , 'occupation' , 'BMI'], values='ageCat')
fig.show()

ValueError: ('None entries cannot have not-None children', ageCat           49-59
occupation         nan
BMI           24.21875
Name: 884, dtype: object)